
@if(book) {
    <div class="mt-5 text-center">
      <!-- Recomendable imágenes cuadradas por ejemplo 500x500 -->
      <img
      class="d-block mx-auto mb-4 rounded-circle"
      [src]="'http://localhost:3000/uploads/' + book.author.photoUrl" alt="author"
      style="max-width:150px;">
  
      <h1 class="display-5 fw-bold text-body-emphasis">{{book.title}} {{book.price}}
      </h1>
      <div class="col-lg-6 mx-auto">
        <h4>{{book.editorial.name}}</h4>
        <p class="lead mb-4">{{book.numPages}}</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3"
            [routerLink]="['/books', book.id, 'update']">
            Editar
          </button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
        </div>
      </div>
    </div>
  }
  
  <div class="container">
    <div class="row">
      <div class="col-12">
  
        <h2 class="mt-5">Reservas</h2>
  
        <table class="table table-striped mt-5">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Fecha inicio</th>
              <th scope="col">Fecha fin</th>
              <th scope="col">Precio</th>
              <th scope="col">Usuario</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for(reservation of reservations; track reservation.id) {
            <tr>
              <td>{{reservation.id}}</td>
              <td>{{reservation.startDate}}</td>
              <td>{{reservation.endDate}}</td>
              <td>{{reservation.price}}</td>
              <td>
                @if (reservation.user) {
                  <span class="badge text-bg-success">{{reservation.user.email}}</span>
                } @else {
                  <span class="badge text-bg-danger">Sin usuario</span>
                }
              </td>
              <td>
                <button class="btn btn-success me-2" [routerLink]="['/reservations', reservation.id, 'detail']">
                  Ver
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>