
<div class="container"></div>
<div class="row">
    <div class="col-lg-8">
        <form class="mt-5 p-5"
        [formGroup]="reservationForm"
        (ngSubmit)="save()">

            <div class="form-floating mb-3">
                <input type="date" class="form-control"
                id="startDate" formControlName="startDate"
                placeholder="yyyy-mm-dd" (change)="calculatePrice()">
                <label for="startDate">Fecha de inicio</label>
          </div>
          <div class="form-floating mb-3">
            <input type="date" class="form-control"
            id="endDate" formControlName="endDate"
            placeholder="yyyy-mm-dd" (change)="calculatePrice()">
            <label for="endDate">Fecha fin</label>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox"
          id="premiumShip" formControlName="premiumShip" (change)="calculatePrice()">
          <label class="form-check-label" for="premiunShip">Envío premium 4,99 € (menos de 24 horas)</label>

        </div>

        </form>
    </div>

    <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="mt-5 d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Tu reserva</span>
          <span class="badge bg-primary rounded-pill">{{numDays}} días</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Título libro</h6>
              @if (book) {
                <small class="text-body-secondary">{{book.title}}</small>
              } @else{
                <small class="text-body-secondary">Ejemplo</small>
              }
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-body-secondary">Brief description</small>
            </div>
            <span class="text-body-secondary">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-body-secondary">Brief description</small>
            </div>
            <span class="text-body-secondary">$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">−$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>{{price}}</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
      </div></div>
