
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Autores/as de mayor reconocimiento</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        @for (author of authors; track author.id) {
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" [style.background-image]="'url(' + author.photoUrl + ')'">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{author.firstName}} {{author.lastName}}</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <button class="btn btn-primary btn-sm" [routerLink]="['/authors', author.id, 'detail']">Ver 
                    <i class="bi bi-arrow-right"></i>
                </button>
              </li>
              <!-- <li class="d-flex align-items-center me-3">
                <small>{{author.birthDate | date: 'dd//MM//yyyy'}}</small>
              </li> -->
              <li class="d-flex align-items-center">
                <i class="bi bi-geo-alt-fill fs-3 me-2"></i>
                <small>{{author.salary}}</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    }

    </div>
  </div>