

<div class="container mt-5">
    <div class="row">
      <div class="col-4 text-center">
  
        @if (restaurant && restaurant.imageUrl && restaurant.imageUrl.length > 0){
          <img class="img-fluid" [src]="restaurant.imageUrl" alt="Foto restaurante">
        } @else {
          <!--<p class="py-5">Este restaurante no tiene imagen de perfil.</p>-->
          <img class="img-fluid" src="https://ui-avatars.com/api/?name=A&size=256">
        }
  
      </div>
      <div class="col-8">
  
        @if(restaurant){
        <div class="container px-4 py-5" id="icon-grid">
          <h2 class="pb-2 border-bottom">Restaurante con id {{restaurant.id}}</h2>
  
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
            <div class="col d-flex align-items-start">
              <i class="bi bi-geo-alt text-info flex-shrink-0 me-3 fs-2"></i>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Ubicación</h3>
                <p>{{restaurant.location}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <i class="bi bi-phone text-info flex-shrink-0 me-3 fs-2"></i>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Teléfono</h3>
                <p>{{restaurant.phone}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <i class="bi bi-cup-straw text-info flex-shrink-0 me-3 fs-2"></i>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Nombre</h3>
                <p>{{restaurant.name}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"></use></svg>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"></use></svg>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"></use></svg>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
          </div>
        </div>
  
      } @else {
        <p>Restaurante no encontrado.</p>
      }
      </div>
    </div>
  </div>