<div class="container">
  <div class="row">
    <div class="col-lg-8">

      <h1 class="my-5">Crear nuevo autor</h1>

      <form [formGroup]="authorForm" (submit)="save()">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="id" formControlName="id" readonly>
          <label for="id">Id</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="firstName" formControlName="firstName"
          placeholder="">
          <label for="firstName">Nombre</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="lastName" formControlName="lastName"
          placeholder="">
          <label for="lastName">Apellido</label>
        </div>

        <div class="form-floating mb-3">
          <input type="date" class="form-control"
          id="birthDate" formControlName="birthDate"
          placeholder="">
          <label for="birthDate">Nacimiento</label>
        </div>


        <div class="form-floating mb-3">
          <input type="number" min="0" step="0.01"
          class="form-control" id="salary" formControlName="salary"
          placeholder="">
          <label for="salary">Salario (€)</label>
        </div>

        <input type="hidden" formControlName="photoUrl">

        <div class="input-group mb-3">
          <label class="input-group-text" for="photoUrl">Subir foto</label>
          <input type="file" class="form-control" id="photoUrl" (change)="onFileChange($event)">
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="country" formControlName="country"
          placeholder="">
          <label for="country">País nacimiento</label>
        </div>

        <div class="form-floating mb-3">
          <textarea type="text" class="form-control" id="bio" formControlName="bio"
          placeholder="Texto largo" rows="4" cols="50">
        </textarea>
          <label for="bio">Biografía</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="wikipediaUrl" formControlName="wikipediaUrl"
          placeholder="https://es.wikipedia.org/wiki/Eckhart_Tolle">
          <label for="wikipediaUrl">Enlace a wikipedia</label>
        </div>


        <button class="w-100 btn btn-primary btn-lg" type="submit">Guardar</button>


      </form>

    </div>
    <div class="col-lg-4">

      @if(photoPreview) {
        <h3 class="my-5">Previsualización de foto</h3>
        <img class="img-fluid" [src]="photoPreview">
      }
      @if (!photoPreview && author?.photoUrl) {
        <h3 class="my-5">Previsualización de foto</h3>
        <img class="img-fluid" [src]="'http://localhost:3000/uploads/' + author?.photoUrl">
      }
    </div>
  </div>
</div>