<!--vincula el html al ts, vincula el bookForm y el save-->
<form [formGroup]="bookForm" (ngSubmit)="save()"> 

    <div>
        <label for="title">Título de libro</label>
        <input type="text" id="title" formControlName="title">
    </div>
    <div>
        <label for="numPages">Número de páginas</label>
        <input type="number" id="numPages" formControlName="numPages" min="5" step="1">
    </div>
    <div>
        <label for="price">Precio en Euros (€)</label>
        <input type="number" id="price" formControlName="price" min="5" step="0.01">
    </div>   
    <div>
        <label for="available">Está disponible para la venta (Sí / No)</label>
        <input type="checkbox" id="available" formControlName="available">
    </div>    
    <div>
        <label for="publishDate">Fecha de publicación</label>
        <input type="datetime-local" id="publishDate" formControlName="publishDate">
    </div>  
    
    <!-- Radio buttons para seleccionar 1 opción entre muchas -->
    <!-- Ideal para opciones fijas, estáticas, número limitado de opciones -->
    <div>
        <label for="category">Categoría</label>
        <div>
            <label for="novela">Novela</label>
            <input id="novela" value="novela" type="radio" formControlName="category">

            <label for="romance">Romance</label>
            <input id="romance" value="romance" type="radio" formControlName="category">

            <label for="educacion">Educación</label>
            <input id="educacion" value="educacion" type="radio" formControlName="category">
        </div>
    </div> 
    
    <!-- Slector simple
    Ideal para permitir elegir una opción de muchas opciones que a priori no hay un número fijo,
    puede haber muchas porque normalmente vienen de base de datos, por ejemplo autores -->
    <div>
        <label for="author">Autor/a del libro</label>
        <select id="author" formControlName="author">
            <!-- Las option se imprimirían con un bucle for de angular -->
            <option value="">Selecciona una persona</option>
            <option value="Paco Garcia">Paco García</option>
            <option value="Antonio Pérez">Antonio Pérez</option>
            <option value="Carlos Martín">Carlos Martín</option>
        </select>
    </div>

    <!-- selector múltiple
    Ideal para seleccionar múltiples opciones dentro de un número variable de opciones
    Por ejemplo: etiquetas, tags, tematicas, topics -->
    <div>
        <label for="topics">Temáticas del libro</label>
        <select id="topics" formControlName="topics" multiple>
            <option value="">Selecciona una temática</option>
            <option value="Medieval">Medieval</option>
            <option value="Aventura">Aventura</option>
            <option value="Romance">Romance</option>
            <option value="Ficción">Ficción</option>
            <option value="Futurista">Futurista</option>
        </select>
        <div>
            <small>Ctrl + clic para seleccionar más de una temática.</small>
        </div>
    </div>

    <button type="submit">Enviar</button>

</form>